[ids]

*

[main]

capslock = shift
rightalt = layer(specials)
shift = layer(shift)

[specials]

# Map o to ö
o = ö

# Map a to ä
a = ä

# Map u to ü
u = ü

# Map s to ß
s = ß

# Map v to ¥
v = ¥

# Map b to £
b = £

# Map e to €
e = €

# Map w to è
w = è

# Map r to é
r = é

# Map t to ê
t = ê

# Map y to ë
y = ë

# Map c to ç
c = ç

# Map h to spock hand
h = 🖖

# Map k to poo
k = 💩

# Map 0 to ⁰
0 = ⁰

# Map 1 to ¹
1 = ¹

# Map 2 to ²
2 = ²

# Map 3 to ³
3 = ³

# Map 4 to ⁴
4 = ⁴

# Map 5 to ⁵
5 = ⁵

# Map 6 to ⁶
6 = ⁶

# Map 7 to ⁷
7 = ⁷

# Map 8 to ⁸
8 = ⁸

# Map 9 to ⁹
9 = ⁹

# Map d to °
d = °

# Map i to ∞
i = ∞

# Map < to «
, = «

# Map > to »
. = »

# Map z to α
z = α

# Map x to β
x = β

# Map pi to π
p = π

# Map l to λ
l = λ

# Map m to µ
m = µ

[specials+shift]

# all chars defined in [specials] need to be defined
# if not they'll produce weird chars

# Map shift+o to Ö
o = Ö

# Map shift+a to Ä
a = Ä

# Map shift+u to Ü
u = Ü

# Map shift+s to ẞ (capital ß)
s = ẞ

# Map v to ¥
v = ¥

# Map b to £
b = £

# Map e to €
e = €

# Map w to È
w = È

# Map r to É
r = É

# Map t to Ê
t = Ê

# Map y to Ë
y = Ë

# Map c to Ç
c = Ç

# Map h to spock hand
h = 🖖

# Map k to poo
k = 💩

# Map 0 to ⁰
0 = ⁰

# Map 1 to ¹
1 = ¹

# Map 2 to ²
2 = ²

# Map 3 to ³
3 = ³

# Map 4 to ⁴
4 = ⁴

# Map 5 to ⁵
5 = ⁵

# Map 6 to ⁶
6 = ⁶

# Map 7 to ⁷
7 = ⁷

# Map 8 to ⁸
8 = ⁸

# Map 9 to ⁹
9 = ⁹

# Map d to °
d = °

# Map i to ∞
i = ∞

# Map < to «
, = «

# Map > to »
. = »

# Map z to α
z = α

# Map x to β
x = β

# Map pi to π
p = π

# Map l to λ
l = λ

# Map m to µ
m = µ
